@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    <p>DB Design.</p>
    <p>Code-First, EF.</p>
    <p>Service Layer w/Abstraction.</p>
    <p>Async/Await everywhere.</p>
    <p>IoC/DI (Ninject).</p>
    <p>AutoMapper.</p>
    <p>MVC: ViewModels only.</p>
    <p>HTTP Status Codes.</p>
    <p>Filtering, Paging, Sorting.</p>
    <p>Filtering by Make.</p>
    <p>Testability (Interfaces).</p>
    <p>Actual Unit Tests.</p>
    <p>README.md.</p>
</main>