@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    <address>
        Bukvička 28<br />
        33514, Čačinci<br />
        <abbr title="Phone">Mob:</abbr>
        095 512 1864
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:kristijan.matic@hotmail.com">kristijan.matic@hotmail.com</a><br />
    </address>
</main>